.input-container {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 300px;
  padding: 10px 15px;
  margin: 5px;
  border: 1px solid #333;
  border-radius: 8px;
  background: transparent;
}

.input-wrapper label {
  position: absolute;
  left: 12px;
  bottom: 35px;
  padding: 0 5px;
  color: #333;
  pointer-events: none;
  background-color: white;
}

@media (orientation: portrait) {
  .input-container {
    flex-direction: column;
  }
}
