@use '../../../variables' as *;

.input-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.6rem;
  margin-top: 1.6rem;
  flex-wrap: wrap;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 3.5rem;
}

.input-wrapper input {
  width: 18.75rem;
  padding: 0.9rem;
  border: 1px solid #333;
  border-radius: 0.25rem;
  background: transparent;
  font-size: 1rem;
  box-sizing: border-box;
}

.input-wrapper label {
  position: absolute;
  top: -0.4rem;
  left: 0.8rem;
  padding: 0 0.3rem;
  color: #333;
  pointer-events: none;
  background-color: $brand-grey;
  font-size: 0.9rem;
  line-height: 1;
}

@media (orientation: portrait) {
  .input-container {
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .input-wrapper input {
    width: 18.75rem;
  }
}
