@use '../../../variables' as *;

.input-container {
  display: flex;
  gap: 10px;
  width: inherit;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.input-wrapper {
  position: relative;
  margin-top: 25px;
}

.input-wrapper input {
  width: 300px;
  padding: 15px;
  margin: 5px;
  border: 1px solid #333;
  border-radius: 4px;
  background: transparent;
}

.input-wrapper label {
  position: absolute;
  left: 10px;
  bottom: 45px;
  padding: 0 5px;
  color: #333;
  pointer-events: none;
  background-color: $brand-grey;
}

@media (orientation: portrait) {
  .input-container {
    flex-direction: column;
  }
}
