@use '../../../variables' as *;

.countdown-container {
  width: 100%; text-align: center;
}

.title {
  font-weight: 800;
  color: $brand-purple;
  letter-spacing: -0.02em;
  margin: 1rem 0;
}

.time {
  font-weight: 400;
  letter-spacing: 0;
  font-synthesis: none;
  margin: 1rem 0;
}
